<!-- <div>
    {{MyText}}
    <input type="checkbox" [checked]="FilterData.checked" value="FilterData" /> FilterData
    <input type="file" />
</div> -->

<form #myForm="ngForm" novalidate>
    <label for="file">Choose File</label>
    <input type="file"
           id="file"
           (change)="handleFileInput($event.target.files)">
    <div class="form-group">
        <label>Filter Data</label>
        <input class="form-control" name="FilterData" type="checkbox"  /> 
    </div>
    <div class="form-group">
        <label>Replace Missing Value</label>
        <input class="form-control" name="ReplaceMissingValue" type="checkbox"  /> 
    </div>
    <div class="form-group">
        <label>NormalizeData</label>
        <input class="form-control" name="NormalizeData" type="checkbox" /> 
    </div>
    <!-- <div class="form-group">
        <label>Filter Data</label>
        <input class="form-control" name="FilterData" type="checkbox" [(ngModel)]="FilterData" /> 
    </div> -->
    <div class="form-group">
        <button 
                class="btn btn-default" (click)="submit(myForm)">Submit</button>
    </div>
</form>

<!-- <form [formGroup]="checkoutForm">

    <button class="button" type="submit">Purchase</button>
  
  </form> -->