<div class="row" class="form">
    <div>
        <input type="text" placeholder="Number of clusters" [(ngModel)]="numberOfCluster">
        
        <select  (change)="onChangeAlgorithm($event)" [ngModel]="enumsOfAlgorithms">
            <option value="{{ algorithms.KMeans }}">KMeans</option>
            <option value="{{ algorithms.FCM }}">FCM</option>
        </select>

        <button (click)="emitNumberOfCluster()">Initialize</button>
    </div>

    <div class="col-md-4">
        <span class="upload" *ngIf="progress > 0">
            {{progress}}%
        </span>

        <span class="upload" *ngIf="message">
            {{message}}
        </span>
    </div>
</div>