<!-- <div>
  <input type="text" placeholder="Название" [(ngModel)]="title">
  <button (click)="addTodo()">Добавить</button>
  <button (click)="fetchTodos()">Загрузить</button>
</div>

<div *ngFor="let todo of todos">
    {{todo.title}}
    {{todo.completed}}
</div> -->

<plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
<hr>

<app-upload (numberOfClusterEmit)="initialNumber($event)" (onUploadFinished)="updateClusters($event)"></app-upload>

<div *ngIf="listOfCluster?.length > 0">
  <select (change)="onChange($event)">
    <option *ngFor="let item of listOfCluster" [value]="item.clusterId">Cluster {{item.clusterId}}</option>
  </select>
</div>

<button *ngIf="isOneCluster" (click)="showAllClusters()">Show all clusters</button>

<app-function-plot [centroids]="centroids"></app-function-plot>